body {
  background-color: #fcfde7;
  margin: 0;
}
h3 {
  margin: 0;
  margin-bottom: 10px;
}
nav {
  height: 60px;
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: gray 1px 1px;
  user-select: none;
  box-sizing: border-box;
  transition: 0.1s;
  top: 0;
  padding: 0 25px;
  z-index: 9999;
}
nav.onscroll {
  box-shadow: gray 4px 4px 4px;
}
nav span a {
  color: black;
  font-size: 20px;
  letter-spacing: -3.25px;
}
nav span a:hover {
  border-bottom: none;
}

.logo-1, .logo-2, .logo-3, .logo-4, .logo-5, .logo-6 {
  position: relative;
}
nav span a:hover .logo-1 {
  animation: logo-anime ease 0.25s;
}
nav span a:hover .logo-2 {
  animation: logo-anime ease 0.25s 0.1875s;
}
nav span a:hover .logo-3 {
  animation: logo-anime ease 0.25s 0.375s;
}
nav span a:hover .logo-4 {
  animation: logo-anime ease 0.5s 0.5625s;
}
nav span a:hover .logo-5 {
  animation: logo-anime ease 0.25s 0.9375s;
}
nav span a:hover .logo-6 {
  animation: logo-anime ease 0.5s 1.125s;
}
@keyframes logo-anime {
  0% {
    top: 0;
  }
  25% {
    top: -5px;
  }
  75% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

nav div input {
  width: fit-content;
}
.main {
  margin-top: 80px;
  padding: 0 25px;
}
.main-box {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: inset grey 1px 1px 1px;
  width: calc(95vw - 350px);
}
deepl-inline-trigger {
  display: none;
}
.view-box {
  position: fixed;
  top: 50px;
  right: 25px;
  width: 300px;
}
.margin-left-auto {
  margin-left: auto;
}
footer {
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  color: #734dff;
  margin: 0 5px;
}
nav a:hover {
  border-bottom: solid 2px #734dff;
}
nav a.create {
  border: none;
  background-color: #7db0ff;
  margin: 0 5px;
  color: white;
  padding: 2px 10px;
  transition: 0.2s;
}
nav a.create:hover {
  background-color: #734dff;
}
.article-embed {
  height: 185px;
  width: 258px;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: gray 1px 1px 1px;
  margin-top: 15px;
  transition: 0.1s;
}
.article-embed * {
  text-decoration: none;
  color: black;
}
.article-embed:hover {
  box-shadow: gray 3px 3px 3px;
}
.article-embed_image {
  height: 100px;
  border-bottom: 1px solid gray;
  background-color: #bfbfbf;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.article-embed_title {
  padding: 5px;
}
i.margin-right {
  margin-left: 5px;
}
.margin-right {
  margin-right: 5px;
}
.article-embed_image:before {
  content: "no image";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}
.article-embed_image img {
  position: relative;
  top: -124px;
  width: 258px;
  border-radius: 10px 10px 0 0;
}
.article-embed_info {
  position: relative;
  top: -100px;
  height: 100%;
}
.article-embed_date {
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  border-radius: 10px 0 0 0;
  height: 24px;
  z-index: 1;
}
.article-embed_tag {
  position: relative;
  top: 52px;
  background-color: white;
  width: fit-content;
  padding: 0 8px;
  height: 24px;
  z-index: 1;
  margin-left: auto;
}
.main-box:not(#most-views) {
  min-width: 590px;
}
.main-article {
  min-height: 1000px;
  width: 45vw;
  background-color: white;
  padding: 15px;
}
.main-article h2 {
  margin: 0;
  font-weight: normal;
}
.article-edit {
  min-height: 900px;
  width: 100%;
  font-size: 18px;
}
input {
  width: 100%;
}
.main-article h1 {
  font-size: 28px;
  line-height: 1.4;
  margin-top: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.article-tag {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

/* markdown css */
@font-face {
  font-family: 'Consolas';
  src: url("https://yuzupon1133.github.io/boubiroku/assets/fonts/Consolas.ttf") format("ttf"),
}
#article h1, #article h2, #article h3, #article h4, #article h5, #article h6 {
  font-weight: bold;
  line-height: 1.5;
  margin-top: 2.2rem;
  margin-bottom: 1.4rem;
}
#article h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1em;
}
#article h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.1em;
}
#article h3 {
  font-size: 1.4em;
}
#article h4 {
  font-size: 1.2em;
}
#article h5, #article h6 {
  font-size: 1em;
}
#article pre {
  background-color: #364549;
  color: white;
  padding: 2em;
  overflow-x: auto;
  line-height: 24px;
}
#article code {
  font-family: 'Consolas';
  font-size: 14px;
}
#article :not(pre) code {
  background-color: #eee;
  padding: 0.1em 0.4em;
  color: black;
}
#article a, #article a:visited {
  text-decoration: none;
  color: #734dff;
  margin: 0 1px;
} 
#article a:hover {
  text-decoration: underline;
}
#article blockquote {
  border-left: 5px solid #ddd;
  color: #777;
  padding: 1em;
  padding-right: 0;
  margin: 1.5em 0 1.5em 20px;
}
#article img {
  max-width: 100%;
}
#article dl * {
  line-height: 30px;
}
#article dl dt {
  font-weight: 600;
}
#article dd {
  margin-inline-start: 2em;
}
#article p {
  margin: 20px 0;
}
table, thead, tbody, tfoot, tr, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 10px 15px;
}
#article input[type="checkbox"] {
  width: 20px;
}
#article tr:nth-child(odd) {
  background-color: #eee;
}
#article thead tr {
  background-color: white !important;
  text-align: center;
}
#article iframe {
  max-width: 100%;
}
/* end markdown css */
.create-article h3 {
  margin-top: 10px;
}
#detail-icon, #image-icon, #img-close {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 3px;
}
#detail-icon:hover, #image-icon:hover, #img-close:hover {
  background-color: #ddd;
}
#detail-icon:active, #image-icon:active, #img-close:active {
  background-color: #bbb;
}
#create-detail {
  user-select: none;
}
#create-detail hr {
  margin: 15px -8px 15px 1px;
}
.image-upload_back {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.image-upload {
  background-color: white;
  border-radius: 15px;
  height: 400px;
  width: 800px;
  text-align: center;
  position: relative;
}
.image-upload span {
  font-size: 20px;
}
.image-upload input[type="text"] {
  width: 650px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid black;
}
.image-upload input[type="button"] {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: #7db0ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.image-upload input[type="button"]:hover {
  background-color: #734dff;
}
.fa-spinner-third {
  animation: spinner 0.8s infinite linear;
  position: relative;
  top: -28px;
  left: 93px;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image-upload div input[type="text"] {
  width: 450px;
  margin-top: 5px;
}
.image-upload div span {
  font-size: 14px;
}
.image-upload_image {
  width: 150px;
  height: 126px;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-upload_image img {
  max-height: 100%;
  max-width: 100%;
}
.image-upload_result {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
}
.display-none {
  display: none;
}
#img-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
}
#article-submit {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #848484;
  cursor: pointer;
  background-color: #58ff4c;
  transition: 0.3s;
}
#article-submit:hover {
  background-color: #4ce041;
  color: white;
}

.comment hr {
  margin: 40px 0;
}
.comment textarea {
  width: 450px;
  height: 130px;
  min-height: 130px;
  resize: vertical;
}
.comment input[type="text"] {
  width: 450px;
  height: 20px;
  margin: 10px 0;
}
.comment input[type="button"] {
  width: 100px;
  height: 30px;
  margin: 10px 0;
}
