.main h3 {
  margin: 0;
  margin-bottom: 10px;
}
.main {
  margin-top: 80px;
  padding: 0 25px;
}
@media (max-width: 680px) {
  .main {
    padding: 0 5px;
  }
}
.main a, .main a:visited {
  color: blue;
  text-decoration: none;
}
.main a:hover {
  text-decoration: underline;
}
.main a:active {
  color: red;
}
.main-flex {
  display: flex;
  justify-content: center;
}
.main-box {
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  box-sizing: border-box;
  box-shadow: inset grey 1px 1px 1px;
  width: calc(95vw - 350px);
  min-width: 590px;
}
@media (max-width: 640px) {
  .main-box {
    min-width: 0px;
    width: 100%;
  }
}
.main-article {
  min-height: 1000px;
  width: 70vw;
  background-color: white;
  padding: 15px;
}
@media (max-width: 680px) {
  .main-article {
    width: calc(100% - 20px);
  }
}
@media (min-width: 681px) and (max-width: 920px) {
  .main-article {
    width: 640px;
  }
}
.main-article h2 {
  margin: 0;
  font-weight: normal;
}
.article-edit {
  min-height: 900px;
  width: 100%;
  font-size: 18px;
}
.main-article h1 {
  font-size: 28px;
  line-height: 1.4;
  margin-top: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
.article-tag {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
#article-tag {
  color: black;
}