body {
  background-color: #fcfde7;
  margin: 0;
  overflow-x: hidden;
}

input {
  width: 100%;
}
center {
  text-align: center;
}

.margin-left-auto {
  position: absolute;
  right: 20px;
}
.display-none {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  margin-top: 10px;
}

deepl-inline-trigger {
  display: none;
}